<div class="table-container">
    <div class="total-Items">
        <app-pagination [page]="page" (pageChange)="changePage($event)"
            (pageSizeChange)="changePageSize($event)"></app-pagination>
    </div>
    <div class="table-header">
        <h2>Car Management</h2>
        <input [(ngModel)]="text" (keydown.enter)="onSearch()" id="search" nz-input type="search"
            placeholder="Search KeyWord">

        <button nz-button nzType="primary" class="btn-add" (click)="openModal(null)">
            Add New Car
        </button>
        <button nz-button nzType="primary" (click)="exportWord()" [disabled]="setOfCheckedId.size === 0"
            style="margin-left: 8px;">
            Export file .docx
        </button>
       
    </div>

    <table class="car-table">
        <thead>
            <tr>
                <th [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)">
                </th>
                <th>STT</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of filterOfCar;  let i = index">
                <td [nzChecked]="setOfCheckedId.has(car._id!)" (nzCheckedChange)="onItemChecked(car._id, $event)"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.status }}</td>
                <td>
                    <button class="btn-edit" (click)="openModal(car)">Edit</button>
                    <button class="btn-delete" (click)="deleteCar(car._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>