<div class="app-header">
  <p style="margin: 0;">Admin: admin@1nonly.com / 123456</p>
  <div *ngIf="!currentUser">
    <a routerLink="/login" nz-button nzType="primary">Đăng nhập / Đăng ký</a>
  </div>
  <div *ngIf="currentUser" style="display: flex; align-items: center; gap: 12px;">
    <span><b>Xin chào, {{ currentUser.email }} ({{ currentUser.role }})</b></span>
    <button nz-button nzType="primary" nzDanger (click)="logout()">Đăng xuất</button>
  </div>
</div>

<router-outlet></router-outlet>

<app-spinner></app-spinner>
